@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #58595b;
  --mari-navy: #051321;
  --mari-green: #14963a;
  --mari-blue: #1ea0eb;
  --mari-gray-light: #d3d3d3;
  --mari-gray-bg: #f5f6f7;
  --status-good: #0ca30c;
  --status-warning: #fab219;
  --status-critical: #d03b3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mari-navy: var(--mari-navy);
  --color-mari-green: var(--mari-green);
  --color-mari-blue: var(--mari-blue);
  --color-mari-gray-light: var(--mari-gray-light);
  --color-mari-gray-bg: var(--mari-gray-bg);
  --color-status-good: var(--status-good);
  --color-status-warning: var(--status-warning);
  --color-status-critical: var(--status-critical);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
